
<div style = "margin-left:200px;margin-top:100px">
<div style="margin-top:8%;margin-left:65%;position:fixed;">
<a style = "color:#aaa;" ><div class = "home" id = "navigation">Home
</div></a>
<a style = "color:#aaa;" ><div class="experience" id = "navigation">Experience
</div></a>
<a style = "color:#aaa;" ><div class="project" id = "navigation">Projects
</div></a>
<a style = "color:#aaa;" ><div class="contact" id = "navigation">Contact
</div></a>
</div>

<div style="font-family:BentoSans;font-size:2.8em;color:#ccc;">Hi there,</div>
<div style="font-family:BentoSans;font-size:2.8em;color:#9c8;">I'm Prateek</div>
<div style = "width:600px;margin-top:20px;font-family:BentoSans;font-size:1.2em;color:#666;">Final year undergraduate at <a target = "_blank" href="http://www.iitd.ac.in/">IIT Delhi</a>. Growth hacker at <a href="http://www.daqwest.com" target="_blank">DaQwest</a>.</div>
<div>
<div id = "work" style="padding-top:50px;margin-top:500px;font-family:BentoSans;font-size:2.4em;color:#9c8;margin-bottom:20px;">Experience</div>

<div id="tiles">
Growth hacker at DaQwest
</div>
<div id="tiles">
Software Engineering Intern at Samsung Research
</div>
<div id="tiles">
Google Summer Of Code 2012
</div>

</div>

<div id = "project" style="padding-top:50px;margin-top:700px;margin-bottom:20px;font-family:BentoSans;font-size:2.4em;color:#9c8;">Projects</div>
<div style="width:900px;">
<div id="tiles">
Building Structured and Linked Data
</div>
<div id="tiles">
Social Network Analytics Dashboard
</div>
<div id="tiles">
Automatic Mail Archiver
</div>
<div id="tiles">
Simulation of Voice Electronic Medical Record
</div>
<div id="tiles">
Temporal Pattern of Rainfall
</div>
<div id="tiles">
MP Track of Lok Sabha
</div>
<div id="tiles">
Intelligent Toll Collection System</div>
<div id="tiles">
Simple Domain Cralwer
</div>
<div id="tiles">
Amazon Book Analytics
</div>


</div>

<div id = "contact" style="margin-bottom:20px;padding-top:50px;margin-top:900px;font-family:BentoSans;font-size:2.4em;color:#9c8;">Contact</div>
<div style="margin-bottom:700px;width:600px;">
	<a href = "https://www.facebook.com/papriwalprateek" target = "_blank" style = "color:#888;font-size:1.4em;">Facebook</a> | <a href = "http://www.linkedin.com/pub/prateek-papriwal/35/481/912" style = "color:#888;font-size:1.4em;" target="_blank">Linkedin</a>  |  <a style = "color:#888;font-size:1.4em;" href = "https://twitter.com/prateek240" target="_blank">Twitter</a>  |  <a style = "color:#888;font-size:1.4em;" href="https://github.com/papriwalprateek" target="_blank">Github</a>
	<br>
	<p style="color:#888;font-size:1.2em;">or mail me at papriwalprateekATgmailDOTcom</p>
</div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            $(".home").click(function (){
					$('div#navigation').css({'color':'#aaa','background-color':'#fff'});
 	           		$(this).css({'color':'#fff','background-color':'#aaa'});
                    $('html, body').animate({
                        scrollTop: 0
                    }, 1800);
            });
            $(".experience").click(function (){
					$('div#navigation').css({'color':'#aaa','background-color':'#fff'});
 	           		$(this).css({'color':'#fff','background-color':'#aaa'});
                    $('html, body').animate({
                        scrollTop: $("#work").offset().top
                    }, 1800);
            });
            $(".contact").click(function (){
					$('div#navigation').css({'color':'#aaa','background-color':'#fff'});
 	           		$(this).css({'color':'#fff','background-color':'#aaa'});
                    $('html, body').animate({
                        scrollTop: $("#contact").offset().top
                    }, 1800);
            });
            $(".project").click(function (){
					$('div#navigation').css({'color':'#aaa','background-color':'#fff'});
 	           		$(this).css({'color':'#fff','background-color':'#aaa'});                    
                    $('html, body').animate({
                        scrollTop: $("#project").offset().top
                    }, 1800);
            });

        });
    </script>
