a {color:rgb(195,221,130);text-decoration:none;}
#navigation{
font-family:BentoSans;
font-size:1.2em;
padding:5px;
}
#navigation:hover{
background-color:#aaa;
cursor:pointer;
color:#fff;
}

id#nav{
color:#666;
}

div#tiles{
cursor:pointer;
margin:10px;
float:left;color:#fff;
font-family:BentoSans;
width:150px;
height:120px;
padding:10px;
line-height:1.6em;
font-size:15px;
background-color:#bbb;
position:relative;
}
